html {
  background: #ecf0f1;
}

body,
h1,
h2 {
  font-family: Helvetica, Sans-serif;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1 {
  font-size: 80px;
  animation: appear 1s linear;
}

p {
  font-size: 18px;
  margin: 2em;
}
h2 {
  font-size: 36px;
}
.container {
  margin: 4em;
  text-align: center;
}

.square {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #2ecc71;
  animation: move 0.6s ease-in-out infinite alternate;
}

.square2 {
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #3498db;
  animation: move2 0.6s linear infinite alternate;
}

.ending {
  opacity: 0;
  animation: appear 1s linear;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(50px);
  }
}

@keyframes move2 {
  0% {
    transform: translate(-50px) scale(2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translate(50px) scale(2);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7; /* Light grey */
  border-top: 16px solid #1abc9c; /* Blue */
  border-bottom: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
